[Unit]
Description=Luzern velox Telegram bot
After=network-online.target

[Service]
Type=simple
User=[REPLACE_WITH_USER or run with --user]
Group=[REPLACE_WITH_USER or run with --user]
RestartSec=60
Restart=on-failure
ExecStart=[PATH_TO_BOT]/velox.py --telegram-bot

# If using SELinux
#ExecStart=/usr/bin/python3 [PATH_TO_BOT]/velox.py --telegram-bot

[Install]
WantedBy=default.target

